@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: sandybrown;
    font-family: 'Poppins', sans-serif;
    ;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guess_game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 56, 139);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px;
    background: burlywood;
    height: 350px;
}

.guess_game input {
    height: 30px;
    border-radius: 5px;
}

.guess_button {
    background: sandybrown;
    height: 35px;
    margin-top: 5px;
    width: 120px;
    border: 1px solid rgb(0, 56, 139);
    border-radius: 5px;
    color: rgb(0, 56, 139);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.showNumber {
    display: flex;
    flex-direction: column;
    color: rgb(0, 56, 139);
    font-size: 18px;
    padding: 10px;
    border: 1px solid rgb(0, 56, 139);
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    align-items: center;
}

.guessedNumber {
    margin-bottom: 5px;
}

.display {
    font-size: 18px;
    color: rgb(0, 56, 139);
    margin-top: 10px;
}

.pointerEvent {
    pointer-events: none;
}